.start-text
  font-size: 36px
  font-weight: bold
  line-height: 0.61
  text-align: center
  color: #ffffff
  font-family: "Circe Extra Bold", sans-serif
  padding-top: 240px
  margin-bottom: 48px

.start-text-big
  text-transform: uppercase

.start-enter
  display: flex
  justify-content: center
  background-color: transparent
  transition: .2s ease
  &:active, &.active
    transform: translateY(5px)

.icon-enter
  box-shadow: 2.5px 4.3px 0 0 #356a9e
  border-radius: 5px

.blue-4-text-1
  font-size: 36px
  font-weight: bold
  text-align: center
  color: #ffffff
  padding-top: 230px
  padding-bottom: 40px

.blue-4-text-2
  font-size: 24px
  font-weight: bold
  text-align: center
  color: #ffffff
  padding-bottom: 46px

.blue-4-text-3
  font-size: 18px
  line-height: 1.22
  text-align: center
  color: #ffffff
  padding-top: 16px

.blue-btns
  display: flex
  justify-content: space-between
  width: 415px

.result-title
  color: #fff
  margin-bottom: 45px
  padding-top: 93px
  font-size: 42px
  font-weight: bold

.result-row
  margin-bottom: 20px

.result-text-1
  font-size: 24px
  font-weight: bold
  line-height: 0.92
  text-align: left
  color: #ffffff
  margin-right: .1em

.result-text-2
  font-size: 24px
  line-height: 0.92
  text-align: left
  color: #ffffff

.progress
  width: 100%
  height: 7px

.result-progress
  margin-bottom: 20px

.result-progress-wrap
  width: 293px
  margin-bottom: 40px
  margin-top: 44px

.result-progress-text
  font-size: 18px
  line-height: 1.22
  text-align: center
  color: #ffffff

progress[value]
  appearance: none
  max-width: 293px
  &::-webkit-progress-bar
    background-color: #ffffff
    border-radius: 3px
  &::-webkit-progress-value
    background-color: $pink
    border-radius: 3px

.screen
  flex-direction: column
  align-items: center
  justify-content: center
  display: none
  &.active
    display: flex
