@font-face
  font-family: 'Circe'
  src: url('../fonts/Circe.woff2') format("woff2"), url('../fonts/Circe.woff') format("woff")
  font-weight: 400
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-0491

@font-face
  font-family: 'Circe Light'
  src: url('../fonts/Circe Light.woff2') format("woff2"), url('../fonts/Circe Light.woff') format("woff")
  font-weight: 350
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-0491

@font-face
  font-family: 'Circe Extra Light'
  src: url('../fonts/Circe Extra Light.woff2') format("woff2"), url('../fonts/Circe Extra Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-0491

@font-face
  font-family: 'Circe Extra Bold'
  src: url('../fonts/Circe Extra Bold.woff2') format("woff2"), url('../fonts/Circe Extra Bold.woff') format("woff")
  font-weight: 800
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-0491

@font-face
  font-family: 'Circe Bold'
  src: url('../fonts/Circe Bold.woff2') format("woff2"), url('../fonts/Circe Bold.woff') format("woff")
  font-weight: 700
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-0491

.app
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow-x: hidden
  position: relative

body
  line-height: 1
  font-size: 16px
  font-family: Circe, sans-serif

.container
  max-width: 1200px
  width: 100%
  margin: 0 auto
  padding: 0 15px

.btn-normal-wrap
  width: 188px
  height: 44px
  display: inline-flex
  justify-content: center
  align-items: center

.btn-normal
  width: 188px
  height: 44px
  line-height: 44px
  font-size: 18px
  font-weight: 800
  text-align: center
  display: inline-flex
  justify-content: center
  align-items: center
  text-decoration: none
  border-radius: 5px
  transition: .2s ease
  &:active
    width: 165px
    height: 35px
    line-height: 35px
    font-size: 14px

.btn-mini-wrap
  width: 130px
  height: 35px
  display: inline-flex
  justify-content: center
  align-items: center

.btn-mini
  width: 130px
  height: 35px
  line-height: 35px
  font-size: 16px
  font-weight: 800
  text-align: center
  display: inline-flex
  justify-content: center
  align-items: center
  text-decoration: none
  border-radius: 5px
  transition: .2s ease
  &:active
    width: 115px
    height: 30px
    line-height: 30px
    font-size: 14px

.btn-blue
  background-color: $blue
  color: white
  text-transform: uppercase
  font-weight: 800
  font-family: "Circe Extra Bold", sans-serif

.btn-white
  background-color: white
  color: $blue
  text-transform: uppercase
  font-weight: 800
  font-family: "Circe Extra Bold", sans-serif

.btn-ghost-white
  background-color: transparent
  color: white
  border: 2px solid white
  text-transform: uppercase
  font-weight: 800
  font-family: "Circe Extra Bold", sans-serif

.btn-ghost
  background-color: transparent
  border: solid 2px $blue
  color: $blue
  text-transform: uppercase
  font-weight: 800
  font-family: "Circe Extra Bold", sans-serif

.dashboard__title
  font-size: 36px
  font-weight: bold
  color: $blue
  margin-bottom: 50px

.dashboard__btn
  span
    display: inline-flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    border: solid 2px $blue
    background-color: #ffffff
    color: $blue
    transition: .2s ease
    margin: 0 5px
    cursor: pointer
    &:hover
      background-color: $blue
      border: solid 2px $blue
      color: white
  input
    display: none
    &:checked ~ span
      background-color: $blue
      border: solid 2px $blue
      color: white

.dashboard__row
  margin-bottom: 48px
  display: flex

svg
  fill: currentColor

.row
  display: flex
  align-items: center
  margin-bottom: 46px

.dashboard__container
  max-width: 580px
  margin-left: auto
  margin-right: auto
  padding-top: 80px
  width: 100%
  position: relative
  left: 20px
  padding-bottom: 100px
  display: none
  &.active
    display: block

.blue-text
  font-size: 24px
  font-weight: bold
  color: $blue

.title
  font-size: 36px
  font-weight: bold
  color: $blue

.icon-minus
  width: 12px
  height: 5px

.operations
  display: inline-flex
  margin-left: 10px

.input
  font-size: 24px
  line-height: 1.4
  text-align: center
  color: #4385cf
  display: block
  width: 100%
  text-align: left
  border-bottom: 2px solid #4385cf
  transition: .2s ease
  margin-bottom: 45px
  font-family: inherit
  +placeholder
    color: rgba(67, 134, 201, 0.5)
    transition: .2s ease
  &:focus
    +placeholder
      color: #4385cf
  &.error
    color: #ea92b2
    border-bottom: 2px solid #ea92b2

.blue-content
  background-color: $blue
  width: 100%
  display: flex
  align-items: center
  flex-direction: column
  flex-grow: 1
  position: fixed
  top: 72px
  left: 0
  min-height: calc(100vh - 72px)
  transform: translate3d(0,100vh,0)
  transition: .6s ease-in-out
  &.active
    transform: translate3d(0,0,0)

.icon-enter
  width: 100px
  height: 100px

.examples
  padding-top: 260px

.blue-2-text
  font-size: 150px
  font-weight: bold
  text-align: center
  color: #fefefe
  font-family: 'Circe Bold', sans-serif
  display: none
  &.active
    display: block
    animation: qwe 100ms ease-in-out 
    position: relative

@keyframes qwe
  0%
    transform: scale(1.3)
    opacity: .6
  100%
    transform: scale(1)
    opacity: 1


.blue-3-text
  font-size: 36px
  font-weight: bold
  text-align: center
  color: #ffffff
  padding-top: 265px
  padding-bottom: 10px

.blue-3-input
  background-color: $blue
  border-bottom: 2px solid #fff
  font-size: 36px
  font-weight: bold
  text-align: center
  color: #ffffff
  max-width: 150px

.sprite
  display: none

::-webkit-scrollbar
    width: 12px

::-webkit-scrollbar-track
    display: none