.header
  border-bottom: 2px solid $blue

.header__container
  display: flex
  justify-content: space-between
  height: 70px
  align-items: center

.header__block
  display: flex
  align-items: center
  padding-right: 5px

.header__user
  display: flex
  align-items: center
  font-size: 24px
  font-weight: bold
  line-height: 0.92
  text-align: center
  color: #4385cf
  text-decoration: none
  margin-right: 20px
  font-family: "Circe Bold", sans-serif

.header__logout

.icon-logo-header
  width: 200px
  height: 31px

.icon-user
  width: 29px
  height: 35px
  margin-right:  10px
