.enter__container
  position: relative

.login__container
  max-width: 426px
  margin-left: auto
  margin-right: auto
  padding-top: 92px
  position: absolute
  top: 0
  left: 50%
  transform: translate3d(-150vw,0,0)
  transition: .2s ease
  &.active
    transform: translate3d(-50%,0,0)

.registration__container
  max-width: 430px
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-top: 103px
  position: absolute
  top: 0
  left: 50%
  transform: translate3d(150vw,0,0)
  transition: .2s ease
  &.active
    transform: translate3d(-50%,0,0)

.icon-logo
  width: 426px
  height: 289px
  margin-bottom: 38px

.login__btns
  display: flex
  justify-content: space-between
  margin-top: 50px

.registration__btns
  display: flex
  justify-content: space-between
  margin-top: 60px

.registration__title
  padding-bottom: 35px

.registration__checkbox
  display: flex
  input:checked
    & ~ .registration__checkbox-img
      background-color: #4386c9
      box-shadow: inset 1.5px 2.6px 5px 0 rgba(0, 0, 0, 0.5)
      opacity: 1
  input
    opacity: 0

.registration__checkbox-img
  width: 18px
  height: 18px
  opacity: 0.35
  background-color: #bde0ff
  box-shadow: inset 1.5px 2.6px 5px 0 rgba(0, 0, 0, 0.5)
  margin-right: 20px
  transition: .2s ease
  border-radius: 5px
  cursor: pointer

.registration__checkbox-text
  font-size: 18px
  line-height: 1.22
  text-align: center
  color: #4386c9

.error
  .input
    color: #ea92b2
    border-bottom: 2px solid #ea92b2

.login-wrap
  position: relative

.registration-wrap
  position: relative

.error-wrap
  position: absolute
  top: 50%
  left: calc(100% + 20px)
  transform: translateY(-50%)
  background-color: #ea91b2
  color: #fff
  border-radius: 5px
  width: 250px
  font-size: 18px
  line-height: 44px
  text-align: center
  display: block
  display: none
  &.active
    display: block

.error-wrap-2
  position: absolute
  top: 35px
  left: calc(100% + 20px)
  background-color: #ea91b2
  color: #fff
  border-radius: 5px
  width: 250px
  font-size: 18px
  line-height: 24px
  text-align: center
  display: none
  &.active
    display: block

#legal.error ~ .registration__checkbox-text
  color: #ea91b2