=rangeThumb
  width: 18px
  height: 18px
  margin: -8px 0 0
  border-radius: 50%
  background: transparent
  cursor: pointer
  border: 0 !important

=rangeTrack
  width: 100%
  height: 7px
  cursor: pointer
  background: transparent

.range input
  position: absolute
  top: 9px
  left: 0
  width: 100%
  height: 7px
  -webkit-appearance: none

  // Thumb
  &::-webkit-slider-thumb
    -webkit-appearance: none

    // needed again for Chrome & Safari
    +rangeThumb

  &::-moz-range-thumb
    +rangeThumb

  &::-ms-thumb
    +rangeThumb

  // Track
  &::-webkit-slider-runnable-track
    +rangeTrack

  &::-moz-range-track
    +rangeTrack

  &::-ms-track
    +rangeTrack

  &:focus
    // override outline/background on focus
    background: none
    outline: none

  &::-ms-track
    // A little somethin' somethin' for IE
    width: 100%
    cursor: pointer
    background: transparent
    border-color: transparent
    color: transparent


.range
  width: 293px
  margin-left: 20px
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  input
    width: 100%
    height: 0
    appearance: none

.range-view
  pointer-events: none

.range-track
  height: 7px
  width: 100%
  border-radius: 3px
  background-color: #c1c6cb
  padding: 0 1px

.range-start-label
  position: absolute
  top: -13px
  left: 0
  font-size: 16px
  font-weight: bold
  line-height: 1.38
  color: $blue

.range-end-label
  position: absolute
  top: -13px
  right: 0
  font-size: 16px
  font-weight: bold
  line-height: 1.38
  color: $blue


.range-progress
  height: 100%
  width: 50%
  border-radius: 3px
  background: $pink
  position: relative

.range-thumb
  width: 15px
  height: 15px
  background-color: $blue
  border-radius: 8px
  position: absolute
  right: 0
  top: -50%

.range-value
  position: absolute
  font-size: 16px
  font-weight: 700
  color: #fff
  top: -33px
  left: -12px
  text-align: center
  width: 38px

.icon-cloud
  color: #4384d0
  width: 40px
  height: 35px
  position: absolute
  bottom: 20px
  left: -13px
