.stats__container
  max-width: 900px
  margin: auto
  padding-top: 72px

.stats__table
  tr
    &:hover
      td
        color: $pink
  th
    font-size: 24px
    font-weight: bold
    line-height: 0.92
    text-align: center
    color: #ffffff
    background-color: $blue
    height: 63px
    width: 150px
    vertical-align: middle
    border-left: 1px solid #fff
    border-right: 1px solid #fff
    box-sizing: border-box
  td
    font-size: 24px
    line-height: 0.92
    text-align: center
    color: #4386c9
    height: 63px
    vertical-align: middle
    // transition: .2s ease
    border-left: 1px solid white
    border-right: 1px solid white
    width: 150px

.stats-btn-wrap
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding-top: 44px
  padding-bottom: 42px

.stats__table-wrap
  position:  relative
  overflow-y: scroll
  overflow-x: hidden
  max-height: calc(100vh - 266px)

