.login__container.active
  +icon('icon-logo')
  form(action="")#login-form
    .login-wrap
      input(type="email" name="loginEmail" placeholder="E-mail" required autofocus).input
      input(type="password" name="loginPassword" placeholder="Пароль" required).input
      .error-wrap
        span Неверный E-mail или пароль
    .login__btns
      .btn-normal-wrap
        input(type="submit", value="вход", checked="off").btn-normal.btn-blue
      .btn-normal-wrap
        button.btn-normal.btn-ghost(type="button") регистрация
