.registration__container
  h1.title.registration__title Регистрация
  form(action="")#registration-form
    .registration-wrap
      input(type="text" name="name" placeholder="Имя" required).input
      input(type="email" name="email" placeholder="E-mail" required).input
      input(type="password" name="password" placeholder="Пароль" required).input
      input(type="password" name="password-confirm" placeholder="Подтверждение пароля" required).input
      label.registration__checkbox
        input(type="checkbox", name="legal")#legal
        spanl.registration__checkbox-img
        spanl.registration__checkbox-text Я согласен на обработку персональных данных
      .error-wrap
        span Пароли не совпадают
      .error-wrap-2
        span Пользователь с таким e-mail уже существует
      .registration__btns
        .btn-normal-wrap
          input(type="submit" value="регистрация" name="legal").btn-normal.btn-blue
        .btn-normal-wrap
          button.btn-normal.btn-ghost(type="button") вход
