.screen.result
  div
    h1.title.result-title Итог
    .result-row
      span.result-text-1 Операция:
      span.result-text-2#operation-name Сложение
    .result-row
      span.result-text-1 Колличество примеров:
      span.result-text-2#examples-count 8
    .result-row
      span.result-text-1 Пауза при показе чисел:
      span.result-text-2#examples-duration 1 сек.
    .result-row
      span.result-text-1 Правильно:
      span.result-text-2#examples-correct-count 4
    .result-row
      span.result-text-1 Ошибок:
      span.result-text-2#examples-wrong-count 4
    .result-progress-wrap
      progress(value="50" max="100").progress.result-progress
      p.result-progress-text
        span#success-progress 50%
        | из 100%
    .blue-btns
      //- .btn-normal-wrap
      //-   button.btn-normal.btn-white#start-again повтор
      .btn-normal-wrap
        a(href="/dashboard").btn-normal.btn-ghost-white завершить
