.screen.wrong
  p.blue-4-text-1 Ошибка
  p.blue-4-text-2
    span.user-answer
    |  ≠
    span.correct-answer
  progress(value="50" max="100").progress.current-progress-bar
  p.blue-4-text-3 Показано 
    span.current-progress 6 из 8
