.screen.correct
  p.blue-4-text-1 Правильно!
  p.blue-4-text-2
    span.user-answer
    |  =
    span.correct-answer
  progress(value="72" max="100").progress.current-progress-bar
  p.blue-4-text-3 Показано 
    span.current-progress 6 из 8
