---
title: Главная
---
extends layouts/_layout
block content
  .container
    .dashboard__container.active
      h1.dashboard__title Параметры
      .row
        span.blue-text Операция:
        .operations
          label.dashboard__btn
            input(type="radio", name="operation" data-value="+" checked)
            span
              +icon('icon-plus')
          label.dashboard__btn
            input(type="radio", name="operation" data-value="-")
            span
              +icon('icon-minus')
          label.dashboard__btn
            input(type="radio", name="operation" data-value="*")
            span
              +icon('icon-multiply')
          label.dashboard__btn
            input(type="radio", name="operation" data-value="/")
            span
              +icon('icon-divide')
      form
        .dashboard__row
          span.blue-text Колличество примеров:
          .range
            input(type="range", name="num_examples", min="1", max="40", value="20")
            .range-view
              span.range-start-label 1
              span.range-end-label 40
              .range-track
                .range-progress
                  .range-thumb
                    +icon("icon-cloud")
                    span.range-value 20
        .dashboard__row
          span.blue-text Колличество чисел:
          .range
            input(type="range", name="amount_numbers", min="1", max="20", value="10")
            .range-view
              span.range-start-label 1
              span.range-end-label 20
              .range-track
                .range-progress
                  .range-thumb
                    +icon("icon-cloud")
                    span.range-value 10
        .dashboard__row
          span.blue-text Разрядность чисел:
          .range
            input(type="range", name="digits", min="1", max="3", value="2")
            .range-view
              span.range-start-label 1
              span.range-end-label 3
              .range-track
                .range-progress
                  .range-thumb
                    +icon("icon-cloud")
                    span.range-value 2
        .dashboard__row
          span.blue-text Пауза при показе чисел:
          .range
            input(type="range", name="display_interval", min="0", max="2", value="1" step="0.1")
            .range-view
              span.range-start-label 0.1 сек
              span.range-end-label 2 сек
              .range-track
                .range-progress
                  .range-thumb
                    +icon("icon-cloud")
                    span.range-value 1

        .btn-normal-wrap
          input(type="submit", value="Старт").btn-normal.btn-blue#start

    include _trainer
