---
title: Статистика
---
extends layouts/_layout
block content
  .container
    .stats__container
      .stats-btn-wrap
        h1.title.stats__title Статистика
        .btn-normal-wrap
          button.btn-normal.btn-ghost.clear-table очистить
      table.stats__table
        thead
          tr
            th №
            th Дата
            th Операция
            th Пауза
            th Разрядность
            th Результат
      .stats__table-wrap
        table.stats__table
          tbody
            tr
              td 
              td 
              td 
              td 
              td 
              td 
