meta(charset="utf-8")
title= '😍 '+title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="shortcut icon" href="img/favicon.ico")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/app.css")