include _mixins
doctype html
html
  head
    include _head
  body
    .app
      include ../partials/header/_index
      .blue-content
        block content
      include ../../img/sprite2.svg
      block scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="js/app.js" type="text/javascript")
