//- - var svgSprite = 'img/sprite.svg'
- var svgSprite = ''

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class=name + modClass)
    use(xlink:href= svgSprite + '#' + name)

mixin picture(name, className, altText)
  picture
    source(srcset=`${name}.webp` type="image/webp")
    source(srcset=`${name}.jpg` type="image/jpg")
    source(srcset=`${name}.jpeg` type="image/jpeg")
    source(srcset=`${name}.png` type="image/png")
    img(src=`${name}.png`, alt=altText, class=className)
