.header
  .container
    .header__container
      .header__block
        a(href="/dashboard").header__logo
          +icon('icon-logo-header')
      .header__block
        a(href="/statistics").header__user
          +icon('icon-user')
          span
        .btn-mini-wrap
          button(href="/enter").btn-mini.btn-ghost.logout Выход
