.icon-cloud {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-divide {
  width: 0.38em;
  height: 1em;
  fill: initial;
}
.icon-enter {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-logo-header {
  width: 6.51em;
  height: 1em;
  fill: none;
}
.icon-logo {
  width: 1.47em;
  height: 1em;
  fill: none;
}
.icon-minus {
  width: 2.4em;
  height: 1em;
  fill: initial;
}
.icon-multiply {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
